<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:replace="head :: head"></head> 
    <body> 
        <!-- <header th:replace="header :: header"> </header>  -->
        <main role="main"> 
            <!-- <section th:replace="menu :: menu"></section>  -->
            <div class="album py-5 bg-light"> 
                <div class="container"> 
                    <div class="row"> 
                        <div class="col-sm"> 
                        	ERROR
                            <!--div th:replace="fragments/alert :: alert"></div--> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </main> 
        <!-- footer th:replace="footer :: footer"></footer>  --> 
    </body>
</html>