<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head"></head>
<body>
	<header th:replace="header :: header"></header>
	<main role="main">
		<div class="album py-5 bg-light">
			<div class="container">
				<h1>Catmash scores</h1>
			</div>

			<div class="container jumbotron">
				<div th:each="element : ${cats}">
					<div class="row card-body mb-5">
						<h2 class="col-md-12">Score: [[${element.key}]]</h2>
						<div class="card-body col-md-3" th:each="anews : ${element.value}">
							<figure class="figure">
							  <img th:src="@{{img}(img=${anews.url})}" class="figure-img img-fluid rounded" 
							  		th:alt="@{{img}(img=${anews.id})}">
							  <figcaption>[[${anews.quota}]]</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>

	</main>
	<footer th:replace="footer :: footer"></footer>
</body>
</html>