<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head"></head>
<body>
	<header th:replace="header :: header"></header>
	<main role="main">
		<div class="album py-5 bg-light">
			<div class="container">
				<h1>Catmash voting</h1>
			</div>

			<div class="container jumbotron">
				<div class="row justify-content-between align-items-center">
					<div class="card-body col-md-4" th:each="anews : ${cats}">
						<div class="view overlay zoom">		
							<figure class="figure">
								<a th:href="@{/vote/{id}(id=${anews.id})}">
							  		<img th:src="@{{img}(img=${anews.url})}" class="figure-img img-fluid rounded hoverable" 
							  			th:alt="@{{img}(img=${anews.id})}" />
							  	</a>
							  <figcaption class="mask flex-center">Score: [[${anews.score}]], remaining: [[${anews.quota}]]</figcaption>
							</figure>

							<!-- div class="btn-group">
								<button
									th:onclick="'window.location.href = \'' + @{/vote/{id}(id=${anews.id})} + '\''"
									type="button" class="btn btn-sm btn-outline-secondary">
									vote
								</button>
							</div-->
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="footer :: footer"></footer>
</body>
</html>