<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="head :: head"></head>
<body>
	<header th:replace="header :: header"></header>
	<main role="main">
		<div class="album py-5 bg-light">
			<div class="container">
				<h1>Catmash voting</h1>
			</div>

			<div class="container jumbotron">
				<div class="row justify-content-between align-items-center">
					<div class="card-body col-md-4" th:if="${not #lists.isEmpty(cats)}" th:each="anews: ${cats}">
						<div class="view overlay zoom">		
							<figure class="figure">
								<a th:href="@{/vote/{id}(id=${anews.id})}">
							  		<img th:src="@{{img}(img=${anews.url})}" class="figure-img img-fluid rounded hoverable" 
							  			th:alt="@{{img}(img=${anews.id})}" />
							  	</a>
							  <figcaption class="mask flex-center">Score: [[${anews.score}]], remaining: [[${anews.quota}]]</figcaption>
							</figure>
							
						</div>
					</div>
					<div class="card-body col-md-12" th:if="${#lists.isEmpty(cats)}">
						<div class="alert alert-info" role="alert">
							Voting ends, please check <a href="/scores">scores</a>
						</div>
					</div>
					<div class="alert alert-danger" role="alert">
					  You can <a href="/vote">skip</a>! Just keep in minds that cats will loose points!
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer th:replace="footer :: footer"></footer>
</body>
</html>